Arquivos para igninorar.

vetor10p.exe
semacidentes.exe
planocartesiano.exe
contadebar.exe
totalcamisas.exe
mediapodenrada.exe
quilobembao.exe
diasquepassaram.exe
litrosabastecidos.exe
idadedias.exe
panificadora.exe
notasluno.exe
aras.exe
pesopessoa.exe